.bm\:btn {
  --bm--btn-width: 100%;
  --bm--btn-height: initial;
  --bm--btn-bg-color: var(--bm--color-brand-primary);
  --bm--btn-text-color: var(--bm--color-light-primary);

  display: block;
  width: var(--bm--btn-width);
  height: var(--bm--btn-height);

  background: var(--bm--btn-bg-color);
  color: var(--bm--btn-text-color);
  text-align: center;
  text-transform: uppercase;
  font-size: var(--bm--font-size-3);
  font-family: var(--bm--font-heading);

  &-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--bm--size-4);
  }

  &-menu {
    --bm--btn-width: var(--bm--size-7);
    --bm--btn-height: var(--bm--size-7);
    --bm--btn-text-color: var(--bm--color-brand-light);
    --bm--btn-bg-color: none;

    fill: var(--bm--btn-text-color);
  }

  &-box {
    --bm--btn-width: var(--bm--size-8);
    --bm--btn-height: var(--bm--size-8);
    --bm--btn-bg-color: linear-gradient(
      45deg,
      var(--bm--color-brand-dark),
      var(--bm--color-brand-primary),
      var(--bm--color-brand-light)
    );
  }
}
