@mixin spacing($prefix, $property, $opt) {
  @for $i from 1 through length($default_increment_list) {
    // Create the rule
    .bm\:#{$prefix}-#{$i} {
      #{$property}: var(--bm--size-#{$i});

      @if $opt {
        #{$opt}: var(--bm--size-#{$i});
      }
    }
  }
}

@mixin generateIncrement(
  $key,
  $custom_increments: $default_increment_list,
  $custom_multiplier: $default_multiplier
) {
  @for $i from 1 through length($default_increment_list) {
    $value: nth($default_increment_list, $i);
    --bm--#{$key}-#{$i}: #{$value * $custom_multiplier};
  }
}

@mixin generateFromMap($key, $map) {
  @each $item, $value in $map {
    --bm--#{$key}-#{$item}: #{$value};
  }
}

@mixin generateColors($map) {
  @each $item, $value in $map {
    --bm--color-#{$item}: #{$value};
    --bm--color-#{$item}--rgb: #{hexToRGB($value)};
  }
}
