html {
  font-family: var(--bm--font-main);
  font-size: 62.5%; /* Now 10px = 1rem! */
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;

  max-width: var(--bm--break-2xl);
  margin: 0 auto;
}

%headings {
  font-family: var(--bm--font-heading);
  padding-bottom: var(--bm--size-3);
  font-weight: 800;
}
